@font-face {
	font-family: Text;
	src: url('fonts/RowdyHeavy.ttf');
}

@font-face {
	font-family: Logo;
	src: url('fonts/Molot.otf');
}

body {
	margin: 0;
	padding: 0 0 10em;
	background: #3c66a8;
	color: white;
	font-size: 14pt;
	font-weight: normal;
	overflow-x: hidden;
}

body.front {
	background: #4c81d5;
}

a {
	color: black;
}

#content h1, #content h1 a {
	color: #fecd00;
}

#content a, #sidebar a {
	color: white;
	text-decoration: underline;
}

ul {
	list-style-type: square;
}

article header.details time {
	font-style: italic;
	font-size: smaller;
	color: #ccc;
}

#scenery {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('images/scenery.jpg');
	background-repeat: no-repeat;
	background-position: 50% 0;
	width: 100%;
	min-height: 700px;
	z-index: -10;
}

#scenery .credit {
	color: black;
	font-size: 8pt;
	position: absolute;
	bottom: 0;
	right: 0;
}

#header-wrapper {
	padding: .4em 0;
	margin: 0;
	background: #ba9566;
	width: 100%;
}

div#wrapper.front #header-wrapper{
	background: rgba(232, 158, 55, 0.7);
}

#menus {
	text-align: center;
	margin: 0;
	line-height: 16px;
	font-family: Text, Georgia;
}

#menus a {
	text-decoration: none;
}

#menus ul {
	list-style-type: none;
	margin: 4px auto;
	padding: 0;
	display: inline-block;
}

#menus li {
	margin-left: 1em;
	float: left;
}

#main-menu {
	z-index: 12;
}

#search-block-form {
	z-index: 5;
	text-align: right;
}

#topbar .block {
	text-align: center;
	display: inline;
	width: 312px;
}

#topbar {
	color: black;
	font-size: 12pt;
	margin: 0;
	padding: 0;
}

#middle-content {
	margin-top: 20px;
}

#middle-content.front {
	margin-top: 42px;
}

#middle-content.front #content {
	text-align: center;
	text-shadow: black 0 0 5px;
	color: #fecd00;
}

#middle-content.front h1 {
	font-size: 90pt;
	font-family: Logo, "Arial Black";
	font-weight: normal;
	margin: 0.2em 0 34px;
}

#middle-content.front p {
	font-size: 30pt;
	font-family: Text, Georgia;
	line-height: 1.2em;
	margin: 0;
}

#sidebar div.region-sidebar {
	background: #ba9566;
	padding: 20px 10px 44px;
	border-radius: 15px;
}
