@font-face {
	font-family: "RowdyHeavy";
	src: url('fonts/RowdyHeavy.ttf');
}

@font-face {
	font-family: "Molot";
	src: url('fonts/Molot.otf');
}

body {
	margin: 0;
	padding: 0;
	background: #4c81d5;
	color: white;
	font-size: 14pt;
	font-weight: normal;
	overflow-x: hidden;
}

a {
	color: black;
}

#scenery {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('images/scenery.jpg');
	background-repeat: no-repeat;
	background-position: 50% 0;
	width: 100%;
	min-height: 700px;
	z-index: -10;
}

#scenery .credit {
	color: black;
	font-size: 8pt;
	position: absolute;
	bottom: 0;
	right: 0;
}

#header-wrapper {
	padding: .4em 0;
	margin: 0;
	background: rgba(232, 158, 55, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#menus {
	text-align: center;
	margin: 0;
	line-height: 16px;
}

#menus ul {
	list-style-type: none;
	margin: 4px auto;
	padding: 0;
	display: inline-block;
}

#menus li {
	margin-left: 1em;
	float: left;
}

#main-menu {
	z-index: 12;
	position: relative;
}

#search-block-form {
	position: absolute;
	top: 7.5px;
	right: 4px;
	float: right;
	z-index: 5;
	height: 14px;
}

#topbar * {
	display: inline;
}

#topbar .block {
	float: right;
	text-align: right;
	padding-right: 1em;
	width: 352px;
	display: inline;
}

#topbar {
	color: black;
	font-size: 12pt;
	margin: 0;
	padding: 0;
}

#middle-content.front {
	margin-top: 142px;
}

#middle-content.front #content {
	color: #e89e37;
	text-align: center;
}

#middle-content.front h1 {
	font-size: 110pt;
	font-family: Molot;
	font-weight: normal;
	margin: 0.2em 0 14px;
}

#middle-content.front p {
	font-size: 30pt;
	font-family: RowdyHeavy;
	line-height: 1.2em;
	margin: 0;
}
